
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,800&family=Work+Sans:wght@400;500;700&display=swap');

*{
    margin:0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Header Style */
 .nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;   
}
 
nav{
    padding: 50px 240px;
}

.d1{
    display: flex;
    align-items: center;
    gap: 20px;
}
.frame{
    width: 86px;
    height: 40px;
}


.yt{
    width:36px;
}
.tiktok{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    color: #3C354F;
    font-size: 1.2rem;
    font-weight: 500;
}

.text{
    color: #3C354F;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
}
.pink{
    color: #ff42A5;
}
.head{
   /*text-align: center; */
    font-size: 2.8rem;
    font-weight: 700;

}
/* Banner Style */



/* Responsive style mobile */

@media screen and (max-width:576px) {

    nav{
        flex-direction: column;
        padding: 10px;
        gap: 60px;
        margin-top: 100px;
    }
    nav > ul{
        flex-direction: column;

    }   
} 

/* Responsive medium device */

@media screen and (min-width:576) and (max-width:998px) {

 nav{
    flex-direction: column;
 }
}
